{% extends "base.html" %}

{% block conteudo %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class='alert alert-{{category}} alert-dismissible fade-show role='alert''>
                <button
                type="button"
                class="btn btn-close"
                data-bs-dismiss="alert"
                aria-label="Close">
                </button>
                {{message}}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="container py-5 w-25">

    <h2 class="text-center mb-4" style="color: white;">Meus Eventos</h2>

    <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="btnNovoEvento">+ Novo Evento
    </button>

</div>

<div class="container mb-5 w-75">
    <div id="calendar"></div>
</div>

<!-- Modal de Formulário do Evento -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Novo Evento</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       
        <form id="formEvento">

            <div class="mb-3">
                <label for="titulo" class="form-label">Título</label>
                <input type="text" class="form-control" id="titulo" placeholder="Digite o título" required=required>
            </div>

            <div class="mb-3">
                <label for="descricao" class="form-label">Descrição</label>
                <textarea class="form-control" id="descricao" rows="3" placeholder="Descreva o evento (opcional)"></textarea>
            </div>

            <div class="mb-3">
                <label for="data" class="form-label">Data</label>
                <input type="date" class="form-control" id="data" required>
            </div>

            <div class="mb-3">
                <label for="horario_inicio" class="form-label">Horário de Início</label>
                <input type="time" class="form-control" id="horario_inicio" required>
            </div>

            <div class="mb-3">
                <label for="horario_fim" class="form-label">Horário de Fim</label>
                <input type="time" class="form-control" id="horario_fim" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Salvar</button>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Visualização de Evento -->
<div class="modal fade" id="modalVisualizarEvento" tabindex="-1" aria-labelledby="visualizarEventoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="visualizarEventoLabel">Detalhes do Evento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">

        <p><strong>Título:</strong> <span id="visualizarTitulo"></span></p>

        <p><strong>Descrição:</strong> <span id="visualizarDescricao"></span></p>

        <p><strong>Data:</strong> <span id="visualizarData"></span></p>

        <p><strong>Início:</strong> <span id="visualizarInicio"></span></p>

        <p><strong>Fim:</strong> <span id="visualizarFim"></span></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btnExcluirEvento">Excluir</button>
        <button type="button" class="btn btn-warning" id="btnEditarEvento">Editar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

{% endblock conteudo %}